body {
	
	font-family:'Times New Roman', Times, serif;
	text-align:center;                                   /*justify*/
	font-size:130%;
	line-height:170%;
	background-color:rgb(20, 20, 20);
	color: rgb(0, 151, 20);

}

h1 { 
	color:rgb(255, 93, 93);
	background-color:rgba(255, 255, 255, 0.1);
	line-height:200%;
}

h5{

	font-family:'Times New Roman', Times, serif;
	text-align:center;
	font-size:190%;
	line-height:119%;
	background-color:rgba(255, 255, 255, 0.09);
	color: rgb(34, 119, 0);

}